
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');    /* Body */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');        /* Body */

html {
    scroll-behavior: smooth;
}

/* Styles for the body */
body {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    width: 95%;
    margin: 3vw auto;
    padding: 0 2vw;
    text-shadow: 0.35px 0.35px;
    text-align: justify;
    line-height: 150%;
    letter-spacing: .5px;
    font-size: 17px;
}

h1 {
    font-size: 40px;
}

/* Styles for the nav(s) */
nav {
    background-color: #333;
    margin: 3vw auto;
    padding: 20px;
    color: white;
}

/* Styles for children of the nav(s) */
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    margin: 0 10px;
}

nav a {
    display: inline-block;
    padding: 2px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
