@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Start general CSS */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 250px;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    width: 95%;
    margin: 3vw 20px;
    padding: 0 2vw;
    text-shadow: 0.35px 0.35px;
    text-align: justify;
    line-height: 150%;
    letter-spacing: 0.5px;
    font-size: 17px;
    color: white;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    margin-bottom: 40px;
}

.section ul li {
    list-style-type: none;
}

.section ul li::before {
    content: '-'; /* Add a dash before each list item */
    position: relative;
    left: -20px
}

/* End general CSS */

/* Start nav CSS */

nav {
    background-color: #333;
    margin: 2vw auto;
    padding: 2px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    margin: 0 15px;
    font-size: 25px;
}

nav > ul > li > a {
    display: inline-block;
    padding: 8px 2vw; 
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

nav > ul > li > a:hover, nav > ul > li > a.active {
    background-color: #ddd;
    color: black;
    padding: 16px 3vw; 
    border-radius: 6px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.media-icon {
    width: 35px;
    height: auto;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* End nav CSS */


/* Start background CSS */

.background-container {
    background-image: url('./black-background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 30px;
    padding-top: 60px; 
    min-height: 100vh; 
}

/* End background CSS */

#about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-me-text {
    width: 70%;
}

#personal-picture {
    width: 400px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}



/* Start 'Skills' CSS */

.skills-text-container {
    display: flex;
    justify-content: space-around; /* Adjusts spacing between items */
    padding: 20px;
}

.skills-text-item {
    flex: 1; /* Allows items to grow equally */
    margin: 0 10px; /* Adds space between items */
    padding-left: 10px;
}

/* End 'Skills' CSS */


/* Start 'Education' and 'Experience' CSS */

h4.education-title, h4.experience-title {
    margin-bottom: 10px;
}

span.date {
    float: right;
}

h5.education-location, h5.experience-location {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.education-description {
    font-size: 20px;
    margin: 20px auto;
}

p.experience-description {
    margin: 15px auto;
}

ul.education-bullets, ul.experience-bullets {
    margin-bottom: 50px;
}

/* End 'Education' and 'Experience' CSS */

/* Start 'Projects' CSS */


/* End 'Projects' CSS */


/* Start 'Footer' CSS */


/* End 'Footer' CSS */


@media (max-width: 768px) {
    #about-me-container {
        flex-direction: column;
        align-items: center;
    }
}
